# /etc/mysql/conf.d/isucon-tuning.cnf に配置
# 反映: sudo cp scripts/mysql-tuning.cnf.example /etc/mysql/conf.d/isucon-tuning.cnf && sudo systemctl restart mysql

[mysqld]
innodb_buffer_pool_size = 1G
innodb_flush_log_at_trx_commit = 2
